@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Estilos globales */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://i.ibb.co/Rc7xsf6/fondo-uleam.jpg');
  background-size: cover;
}

/* Contenedor principal */
.datos-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.5);
}

/* Encabezado */
h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}


/* Formularios */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(70, 70, 70, 0.5);
}



/* Campos de entrada */
.separador {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 1rem;
  border: 1px solid #eed2d2;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0px 0px 5px #abcef3;
}

/* Botones */
button[type="submit"] {
  background-color: #29b6c9;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.terms {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
}

